.footer {
    background: url(C:\Users\HP\OneDrive\Bureau\projet\Project.net\store-app\public\assets\back-register.jpg);
    background-size: cover;
    color: #fff;
    padding: 20px 0;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    flex: 1;
    margin-right: 20px;
  }
  
  .box h3 {
    color: #fff;
  }
  
  .box a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }
  
  .credit {
    margin-top: 20px;
    text-align: center;
    color: #ccc;
  }